ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.item {
  height: 100%;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  user-select: none;
  transition: color 0.2s linear;
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    background-color: #333;
    position: absolute;
    inset: 0 0 0 auto;
    transition: all 0.45s ease-out;
    z-index: -1;
  }

  &:hover {
    cursor: pointer;
    color: #fff;

    &::before {
      width: 100%;
    }
  }

  &.active {
    color: white;
    background-color: #333;
  }
}
