ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.item {
  margin: 1rem;
  padding: 20px;
  background-color: #ddd;
  border: 2px solid transparent;
  user-select: none;

  &:hover {
    cursor: pointer;
  }

  &.active {
    color: red;
    border-color: red;
  }
}
