<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 text-center">

      @if (availableQuestions().length) {
        <h4 class="my-4">{{ currentQuestion().question }}</h4>
        <h1 (click)="update()" [ngClass]="stageAnswer()? 'text-bg-primary' : 'text-bg-secondary'">go next</h1>
        <h3>correct : {{currentQuestion().correct_answer}}</h3>

        @switch (currentQuestion().type.toLowerCase()) {
          @case (QuestionType.MULTIPLE) {
            <app-ask-multiple
              [options]="currentQuestion().options"
              (answerValue)="setAnswerValue($event)"
              [selectedIndex]="currentAnswerIndex()"
            ></app-ask-multiple>
          }

          @case (QuestionType.BOOLEAN) {
            <app-ask-multiple
              [options]="currentQuestion().options"
              (answerValue)="setAnswerValue($event)"
              [selectedIndex]="currentAnswerIndex()"
            ></app-ask-multiple>
          }

          @case (QuestionType.FREETEXT) { <app-ask-freetext></app-ask-freetext> }
        }

        <h1 (click)="update()">go next</h1>
      } @else {
        <h2 class="my-5">No available questions!</h2>
        <button (click)="backToCategories()" class="btn btn-warning btn-lg">Back to categories</button>
      }

    </div>
  </div>
</div>
