$dark-color: #2c3e50;
%link-block {
  cursor: pointer;
  user-select: none;
}


.hint-answer {
  $size: 180px;
  width: $size;
  min-height: $size;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  inset-inline-end: 0;
  color: $dark-color;
  border: 4px solid $dark-color;
  border-inline-end: none;
  padding: 2rem;
  z-index: 2;
  @extend %link-block;

  &::before {
    content: "H I N T";
    color: #fff;
    font-weight: lighter;
    font-size: 1.5rem;
    //letter-spacing: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: $dark-color;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    transition: all 0.5s ease-out;
  }

  &:hover {
    &::before {
      //content: "";
      transform: translateY(-60%);
    }
  }
}

.question-box {
  background-color: rgba(204, 204, 204, 0.15);
  padding: 0.5rem 0.5rem 1rem;
  border-radius: 0.5rem;
}

.btn {
  &-next {
    $size: 140px;
    width: $size;
    height: $size;
    font-weight: lighter;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
    color: #fff;
    background-color: #c0392b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-inline: auto;
    position: relative;
    z-index: 0;
    user-select: none;
    cursor: pointer;

    &::before {
      $size: 90%;
      content: "";
      display: block;
      width: $size;
      height: $size;
      border-radius: 50%;
      border: 2px dashed rgba(#f1c40f, 0.4);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      animation: rotate 8s linear infinite;
    }



    &.disabled {
      color: #95a5a6;
      background-color: #bdc3c7;
      cursor: not-allowed;

      &::before {
        border-color: #95a5a6;
        animation: none;
      }
    }
  }

  &-back {
    @extend %link-block;
    display: block;
    position: fixed;
    top: 0;
    inset-inline-start: 0;
    color: #fff;
    background-color: $dark-color;
    padding: 10px 20px;

    .bi {
      display: inline-block;
      animation: back 1.5s linear infinite;
    }
  }
}


@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes back {
  0% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(4px);
  }
}
